
* {
  font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
}

h1{
    color: #5e5c5c;
    font-size: 100px;
}

section{
    height: 100vh;
    
    padding: 0 9%;
}

/* whatsapp */

.whatsapp_float {
  position: fixed;
  bottom: 50px;
  right: 20px;
  left: 30px;
  z-index: 100;
}


/* Home page */

/* Navbar Styling */
.navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: transparent; /* Transparent background */
    z-index: 1000;
  }
  
  /* Logo Styling */
  .logo img {
    height: 100px; /* Adjust the height as per your logo */
  }
  
  /* Nav Links */
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .nav-links a.active {
    color: #ed9b05;
  }
  
  .nav-links a:hover {
    color: #ed9b05; 
    text-decoration: none;/* Change to a hover color if needed */
  }
  
  /* Dropdown Menu */
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent background */
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
  }
  
  .dropdown-content a {
    display: block;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: transparent; /* Change the hover effect */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Cover Page Styling */

  .sectionhome {
    background-image: url("/images/Tour-a-Sri-Lankan-tea-estate-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%; 
  }

  @media (max-width: 768px){
    .sectionhome {
      background-image: url("/images/home-phone.jpg");
      background-repeat: no-repeat;
      background-size: cover;/* Center the image in the section */
      font-family: 'Montserrat', sans-serif;
      height: 80%; 
    }
  }

  .cover-page {
    height: 400px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .cover-page h1 {
    color: white;
    z-index: 9;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .cover-page .hometext {
   font-size: 80px;
   font-weight: 800;
  }

  .cover-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: 1;
    background: rgba(0, 0 , 0 , 0.5);
  }

/* Animation for h1 */
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px); /* Starts slightly below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Moves to its original position */
    }
  }
  
  /* Apply the animation to h1 */
  .cover-page h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: fadeInUp 2s ease-in-out; /* Animation over 2 seconds */
  }

.section01 {
    height: 100vh;
}

.btninhome {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btninhome button{
    padding: 20px 30px;
    font-size: 20px;
}

/* bio section */

.containerbio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 9rem;
  height: 100vh;
}
.containerbio .left-content {
  width: 50%;
}
.containerbio .right-image {
  width: 40%;
}
.containerbio img {
  max-width: 100%;
  height: auto;
}

/*Customize your plan page */

.section02 {
    background: url(/images/customize\ bg.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.title-box {
    display: flex;
    justify-content: center;
}

.title {
    font-family: 'montserrat', sans-serif;
    padding-top: 10px;
}

.titlehome{
  font-weight: 900; 
  color: #ed9b05; 
  font-size: 50px;
}

.section02 .title {
    font-size: 60px;
    top: 0%;
    margin: 0%;
}

.title span {
    color: #009700;
}

.customize-plan-para {
    width: 50%;
    padding-top: 5%;
}

.customize-plan-para p {
    color: #5e5c5c;
    font-family: 'montserrat', sans-serif;
}

.containercustomize {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

.containercustomize h1 {
    text-align: center;
    color: #333;
}

.containercustomize h2 {
    color: #555;
}

.containercustomize p {
    color: #666;
    line-height: 1.6;
}

.containercustomize ul {
    margin: 20px 0;
    padding-left: 20px;
}

.containercustomize ul li {
    margin: 10px 0;
    color: #666;
}

/* form */

.custom-select {
    width: 20px;
}

.section06 {
    background-image: url("/images/customize\ bg-\ cover.png.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
}

.formsection {
    margin-top: 10vh;
    height: auto;
    margin-bottom: 20vh;
}

.container {  
    position: relative;
    max-width: 90%;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    /* margin: 0 15px; */
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.container header::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 27px;
    left: 0;
    background-color: #009700;
}

.container form {
    position: relative;
    margin-top: 16px;
}

.container form .form {
    position: relative;
    width: 100%;
    transition: 0.3s ease;
}

.red {
    color: red;
}

.container form .title {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
}

.container form .fields .input-fields{
    display: flex;
    width: calc(100% / 2 - 30px);
    flex-direction: column;
    margin: 4px 0;
}

.container form .fields .step3{
    display: flex;
    width: calc(100% / 3 - 30px);
    flex-direction: column;
    margin: 4px 0;
}

.input-fields label {
    font-size: 12px;
    font-weight: 500;
}

.input-fields input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-fields input:is(:focus, :valid) {
    box-shadow: o 3px 6px rgba(0, 0, 0, 0.13);
    border: #009700 1px solid;
}

.container form .fields .step3 input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.container form .fields .step3 input:is(:focus) {
    box-shadow: o 3px 6px rgba(0, 0, 0, 0.13);
    border: #009700 1px solid;
}

.input-fields input[type="date"] {
    color: #707070;
}

.input-fields input[type="date"]:valid {
    color: #333;
}

.container form .next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 30px;
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button {
    margin-left: 30px;
}  

ul {
    list-style: none;
    position: relative;
}

.list {
    position: absolute;
    width: calc(100% / 3 - 30px);
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover {
    background-color: #009700;
    color: #fff;
}

.step4 {
    margin-left: 30px;
    width: 700px;
}

.container form .msg input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 100%;
}

.container form .msg input:is(:focus) {
    box-shadow: o 3px 6px rgba(0, 0, 0, 0.13);
    border: #009700 1px solid;
}

/* footer */

.section07 {
    height: 50%;
}

@media (max-width: 550px){
    .container form .fields .input-fields {
        width: 100%;
    }

}

/* footer */

/* Footer Styling */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh; /* Set footer height to 50% of the viewport height */
    padding: 20px;
    
    color: white;
  }
  
  /* Left section (Nav links and contact info) */
  .footer-left {
    width: 60%; /* Takes up 60% of the footer */
  }
  
  .footer-nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .footer-nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-nav-links li a:hover {
    color: #ed9b05; /* Hover color for links */
  }
  
  .footer-contact p {
    margin: 10px 4rem;
  }
  
  .footer-contact a {
    color: white;
    text-decoration: none;
  }
  
  .footer-contact a:hover {
    color: #ed9b05;
  }
  
  /* Right section (Sponsor images) */
  .footer-right {
    width: 50%; /* Takes up 30% of the footer */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-right img {
    width: 200px; /* Adjust the size of sponsor images */
    height: auto;
    margin-left: 15px;
  }
  
  .footer-right img:hover {
    transform: scale(1.1); /* Simple hover effect */
    transition: transform 0.3s ease-in-out;
  }

  /* under footer */

.container-under-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.container-under-footer .icon-links {
  display: flex;
  align-items: center;
  color: white;
}

.container-under-footer .icon-link {
  width: 50px;
  height: 50px;
  font-size: 45px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container-under-footer .icon-link:hover {
  color: #ed9b05;
}

.container-under-footer .icon-link img {
  width: 24px;
  height: 24px;
}

.container-under-footer .text {
  font-size: 12px;
  color: white;
}

.all-footer {
  position: relative;
  background: url(/images/footer.jpg); /* Dark background color */
  background-repeat: no-repeat;
  background-size: cover;
}

.all-footer a:hover {
  text-decoration: none;
}


.all-footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
  z-index: 1;
}

.footer, .container-under-footer {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

  /* contact page */

.sectioncontact {
  background-image: url("/images/contactpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
  margin-bottom: 50px;
}

.containercontact {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.containercontact .left-section {
  width: 48%;
}

.containercontact .right-section {
  width: 48%;
}

.containercontact .form-group {
  margin-bottom: 15px;
}

.containercontact .form-group input, .containercontact.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.containercontact.form-group textarea {
  width: 100%;
}

.containercontact button {
  padding: 10px 20px;
  background-color: #009700;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.containercontact button:hover {
  background-color: #0056b3;
}

.containercontact .contact-details, .qr-code {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.containercontact .contact-details i, .containercontact .qr-code i {
  margin-right: 10px;
}

.containercontact .contact-details h3, .containercontact .qr-code h3 {
  margin-top: 0;
}

.containercontact .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #007BFF;
  color: white;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.containermap {
  width: 100%;
}

.containermap iframe {
  width: 100%;
  height: 500px;
  border: 0;
}

@media (max-width: 768px){
  .section06 {
    background-image: url("/images/customize-phone.JPG");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
}

  .sectioncontact {
    background-image: url("/images/contactus-phone.JPG");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
    margin-bottom: 50px;
  }

  .sectionbook {
    background-image: url("/images/booktour-phone.JPG");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
    margin-bottom: 50px;
  }

  .containercontact {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .containercontact .left-section {
    width: 100%;
  }
  
  .containercontact .right-section {
    width: 100%;
  }
  
  
  .containercontact.form-group textarea {
    width: 100%;
  }
  .containercontact .contact-details h3, .containercontact .qr-code h3 {
    margin-top: 0;
    font-size: 20px;
  }

  .containercontact .contact-details p, .containercontact .qr-code p{
    font-size: 15px;
  }
  
}

  /* kandy day tour */

.sectionkandydaytour {
  background-image: url("/images/kandydaytourcopy.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.containerkandy {
    max-width: auto;
    margin: 20px 9rem;
    background: #fff;
    padding: 20px;
}

.containerkandy h1, h2 {
    color: #333;
}

.containerkandy .itinerary-item {
    margin-bottom: 20px;
}

.containerkandy .time {
    font-weight: bold;
    color: #555;
}

.containerkandy ul {
    padding-left: 20px;
}

@media (max-width: 768px){
  .sectionkandydaytour {
    background-image: url("/images/kandy-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .containerkandy {
    max-width: auto;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
  }

  .containerkandy .itinerary-item {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .containerkandy h1, h2 {
    font-size: 2rem;
    color: #333;
  }

  .containerkandy h2 {
    font-size: 1.5rem;
  } 
  
}

 /* sigiriya day tour */

.sectionsigiriyadaytour {
background-image: url("/images/sigiriyadaytour.jpg");
background-repeat: no-repeat;
background-size: cover;/* Center the image in the section */
font-family: 'Montserrat', sans-serif;
height: 80%;
}

.containersigiriya {
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.containersigiriya h1, h2 {
  color: #333;
}

.containersigiriya .itinerary-item {
  margin-bottom: 20px;
}

.containersigiriya .time {
  font-weight: bold;
  color: #555;
}

.containersigiriya ul {
  padding-left: 20px;
}

@media (max-width: 768px){
  .sectionsigiriyadaytour {
    background-image: url("/images/sigiriya-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
    }

  .containersigiriya {
    max-width: auto;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
  }
  
  .containersigiriya .itinerary-item {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .containersigiriya h1, h2 {
    font-size: 2rem;
    color: #333;
  }

  .containersigiriya h2 {
    font-size: 1.5rem;
  } 
}

/* colombo city tour */

.sectioncolombocitytour {
  background-image: url("/images/colombocitytour.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.containercolombo {
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.containercolombo h1, h2 {
  color: #333;
}

.containercolombo .itinerary-item {
  margin-bottom: 20px;
}

@media (max-width: 768px){
  .sectioncolombocitytour {
    background-image: url("/images/colombo-phone.jpeg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .containercolombo {
    max-width: auto;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
  }
  
  .containercolombo .itinerary-item {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .containercolombo h1, h2 {
    font-size: 2rem;
    color: #333;
  }

  .containercolombo h2 {
    font-size: 1.5rem;
  } 
}

/* negombo city tour */

.sectionnegombocitytour {
  background-image: url("/images/negombocitytour.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.containernegombo {
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.containernegombo h1, h2 {
  color: #333;
}

.containernegombo .itinerary-item {
  margin-bottom: 20px;
}

@media (max-width: 768px){
  .containernegombo {
    max-width: auto;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
  }
  
  .containernegombo .itinerary-item {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .containernegombo h1, h2 {
    font-size: 2rem;
    color: #333;
  }

  .containernegombo h2 {
    font-size: 1.5rem;
  } 
}
  
  /* 3day tour */

.section3daytour {
  background-image: url("/images/sigiriyadaytour.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

/* day tour page */

.sectiondaytour {
  background-image: url("/images/20181008_093328copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.containerbenifitdaytour {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro-text {
  font-size: 18px;
  line-height: 1.6;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.benefit-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.benefit-item:hover {
  transform: translateY(-10px);
}

.benefit-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.benefit-item p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  gap: 20px; /* Spacing between cards */
  justify-items: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.card {
  width: 400px; /* Larger card width */
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  position: relative;
  height: 300px; /* Increased height for larger cards */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.card-image h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  margin: 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card:hover .card-image h2 {
  opacity: 1;
  transform: translateY(0);
}

.view-button {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: #009700;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: #007a00;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* day tours mobile responsive */

@media (max-width: 768px){

.sectiondaytour {
  background-image: url("/images/day-tour-phone.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.cards-container {
  display: block;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  gap: 20px; /* Spacing between cards */
  justify-items: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  }
}

/* round tours */

.sectionroundtour {
  background-image: url("/images/20181008_093328copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.containerbenifitroundtour {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro-text {
  font-size: 18px;
  line-height: 1.6;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.benefit-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.benefit-item:hover {
  transform: translateY(-10px);
}

.benefit-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.benefit-item p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

/* round tours mobile responsive */
@media (max-width: 768px){
  .sectionroundtour {
    background-image: url("/images/udawalawa.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }
}



/* destinations page */

.sectiondestinations {
  background-image: url("/images/destinations.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.cards-container-destination {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  gap: 20px; /* Margin between cards */
  padding: 20px;
}

.cards-container-destination .card {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio for landscape (16:9) */
  margin: auto;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.cards-container-destination .card:hover {
  transform: translateY(-10px);
  background-color: rgba(0, 0, 0, 0.8); /* Slight darkening effect on hover */
}

.cards-container-destination .card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  pointer-events: none; /* Ensures text is not clickable */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow for better contrast */
}

@media (max-width: 768px){
  .cards-container-destination .card {
    position: relative;
    display: block;
    width: 90%;
    padding-bottom: 56.25%; /* Aspect ratio for landscape (16:9) */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cards-container-destination .card-title {
    font-size: 80px;
  }
}

/* anuradhapura page */

.sectionanuradhapura {
  background-image: url("/images/anuradhapura.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.anuradhapura {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.anuradhapura h1, h2 {
  color: #009700;
}

.anuradhapura p {
  color: #34495e;
  width: 100%;
}

.anuradhapura .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.anuradhapura .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectionanuradhapura {
    background-image: url("/images/anuradhapura-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .anuradhapura {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .anuradhapura h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .anuradhapura p {
    color: #34495e;
  }
  
  .anuradhapura .attractions-list {
    list-style-type: none;
  }
  
  .anuradhapura .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* sigiriya page */

.sectionsigiriya {
  background-image: url("/images/sigiriyadaytour.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.sigiriya {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.sigiriya h1, h2 {
  color: #009700;
}

.sigiriya p {
  color: #34495e;
}

.sigiriya .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.sigiriya .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){ 
  .sectionsigiriya {
    background-image: url("/images/sigiriya-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .sigiriya {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .sigiriya h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .sigiriya p {
    color: #34495e;
  }
  
  .sigiriya .attractions-list {
    list-style-type: none;
  }
  
  .sigiriya .attractions-list li {
    margin-bottom: 10px;
  }
} 
/* colombo page */

.sectioncolombo {
  background-image: url("/images/colombocitytour.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.colombo {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.colombo h1, h2 {
  color: #009700;
}

.colombo p {
  color: #34495e;
}

.colombo .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.colombo .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectioncolombo {
    background-image: url("/images/colombo-phone.jpeg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .colombo {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .colombo h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .colombo p {
    color: #34495e;
  }
  
  .colombo .attractions-list {
    list-style-type: none;
  }
  
  .colombo .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* Galle page */

.sectiongalle {
  background-image: url("/images/Galle.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.galle {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.galle h1, h2 {
  color: #009700;
}

.galle p {
  color: #34495e;
}

.galle .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.galle .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectiongalle {
    background-image: url("/images/galle-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .galle {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .galle h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .galle p {
    color: #34495e;
  }
  
  .galle .attractions-list {
    list-style-type: none;
  }
  
  .galle .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* kandy page */

.sectionkandy {
  background-image: url("/images/kandydaytourcopy.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.kandy {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.kandy h1, h2 {
  color: #009700;
}

.kandy p {
  color: #34495e;
}

@media (max-width: 768px){
  .sectionkandy {
    background-image: url("/images/kandy-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }
  .kandy {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .kandy h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .kandy p {
    color: #34495e;
  }
  
  .kandy .attractions-list {
    list-style-type: none;
  }
  
  .kandy .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* nuwara eliya page */

.sectionnuwaraeliya {
  background-image: url("/images/Nuwara-Eliya-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.nuwaraeliya {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.nuwaraeliya h1, h2 {
  color: #009700;
}

.nuwaraeliya p {
  color: #34495e;
}

@media (max-width: 768px){
  .nuwaraeliya {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .nuwaraeliya h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .nuwaraeliya p {
    color: #34495e;
  }
  
  .nuwaraeliya .attractions-list {
    list-style-type: none;
  }
  
  .nuwaraeliya .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* udawalawa page */

.sectionudawalawa {
  background-image: url("/images/Udawalawe-National-Park-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.udawalawa {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.udawalawa h1, h2 {
  color: #009700;
}

.udawalawa p {
  color: #34495e;
}

@media (max-width: 768px){
  .sectionudawalawa {
    background-image: url("/images/udawalawa-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .udawalawa {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .udawalawa h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .udawalawa p {
    color: #34495e;
  }
  
  .udawalawa .attractions-list {
    list-style-type: none;
  }
  
  .udawalawa .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* yala page */

.sectionyala {
  background-image: url("/images/YAla.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.yala {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.yala h1, h2 {
  color: #009700;
}

.yala p {
  color: #34495e;
}

@media (max-width: 768px){
  .sectionyala {
    background-image: url("/images/yala-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .yala {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .yala h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .yala p {
    color: #34495e;
  }
  
  .yala .attractions-list {
    list-style-type: none;
  }
  
  .yala .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* wilpattu page */

.sectionWilpattu {
  background-image: url("/images/wilpattu.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.Wilpattu {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.Wilpattu h1, h2 {
  color: #009700;
}

.Wilpattu p {
  color: #34495e;
  width: 100%;
}

.Wilpattu .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.Wilpattu .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectionWilpattu {
    background-image: url("/images/wilpattu-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .Wilpattu {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .Wilpattu h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .Wilpattu p {
    color: #34495e;
  }
  
  .Wilpattu .attractions-list {
    list-style-type: none;
  }
  
  .Wilpattu .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* jaffna page */

.sectionjaffna {
  background-image: url("/images/jaffna.jpeg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.jaffna {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.jaffna h1, h2 {
  color: #009700;
}

.jaffna p {
  color: #34495e;
  width: 100%;
}

.jaffna .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.jaffna .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectionjaffna {
    background-image: url("/images/jaffna-phone.webp");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .jaffna {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .jaffna h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .jaffna p {
    color: #34495e;
  }
  
  .jaffna .attractions-list {
    list-style-type: none;
  }
  
  .jaffna .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* trinco page */

.sectiontrinco {
  background-image: url("/images/trico.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.trinco {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.trinco h1, h2 {
  color: #009700;
}

.trinco p {
  color: #34495e;
  width: 100%;
}

.trinco .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.trinco .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectiontrinco {
    background-image: url("/images/trico-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .trinco {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .trinco h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .trinco p {
    color: #34495e;
  }
  
  .trinco .attractions-list {
    list-style-type: none;
  }
  
  .trinco .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* Arugambay page */

.sectionarugambay {
  background-image: url("/images/arugambay.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.arugambay {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.arugambay h1, h2 {
  color: #009700;
}

.arugambay p {
  color: #34495e;
  width: 100%;
}

.arugambay .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.arugambay .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectionarugambay {
    background-image: url("/images/arugambay-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .arugambay {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .arugambay h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .arugambay p {
    color: #34495e;
  }
  
  .arugambay .attractions-list {
    list-style-type: none;
  }
  
  .arugambay .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* Ella page */

.sectionella {
  background-image: url("/images/ella.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.ella {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.ella h1, h2 {
  color: #009700;
}

.ella p {
  color: #34495e;
  width: 100%;
}

.ella .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.ella .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectionella {
    background-image: url("/images/ella-phone.jpeg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .ella {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .ella h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .ella p {
    color: #34495e;
  }
  
  .ella .attractions-list {
    list-style-type: none;
  }
  
  .ella .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* mirissa page */

.sectionmirissa {
  background-image: url("/images/mirissa.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.mirissa {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

.mirissa h1, h2 {
  color: #009700;
}

.mirissa p {
  color: #34495e;
  width: 100%;
}

.mirissa .attractions-list {
  list-style-type: square;
  margin-left: 20px;
}

.mirissa .attractions-list li {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .sectionmirissa {
    background-image: url("/images/mirissa-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .mirissa {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .mirissa h1, h2 {
    color: #009700;
    text-align: center;
  }
  
  .mirissa p {
    color: #34495e;
  }
  
  .mirissa .attractions-list {
    list-style-type: none;
  }
  
  .mirissa .attractions-list li {
    margin-bottom: 10px;
  }
} 

/* popular destinations */

.sectionpopulardestinations {
  background: #007a00;
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
}

.destinationcolor {
  background: #007a00;
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
}

.sectionpopulardestinations .cards-container-destination {
  padding: 20px;
  margin: 0 9rem;
}

.sectionpopulardestinations .title-box .title{
  color: white;
  font-weight: 800;
  font-size: 70px;
  padding-top: 5vh;
}

/* popular packages */

.sectionpopularpackages {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
}

.sectionpopularpackages .cards-container-packages {
  padding: 20px;
  margin: 0 9rem;
}

.sectionpopularpackages .cards-container-packages .cards-container .card button {
  background-color: #ed9b05;
}

.sectionpopularpackages .cards-container-packages .cards-container .card a:hover {
  text-decoration: none;
}

.sectionpopularpackages .title-box .title{
  color: #ed9b05;
  font-weight: 800;
  font-size: 60px;
  padding-top: 5vh;
}

/* 8 day tour */

.section8daytour {
  background-image: url("/images/20171002_104111.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.a8daytour {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

header {
    background-color: #007a00;
    color: white;
    padding: 20px;
    text-align: center;
}

.a8daytour .itinerary-day {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a8daytour h1, h2, h3 {
    color: #004d99;
}

.a8daytour ul {
    padding-left: 20px;
}

@media (max-width: 768px) {
  .section8daytour {
    background-image: url("/images/8day-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .a8daytour {
    font-family: 'Montserrat', sans-serif;
    max-width: auto;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
  }
  
  .daytopic {
      background-color: #007a00;
      color: white;
      padding: 10px;
      text-align: center;
      font-size: 25px;
  }
}


/* 12 day tour */

.section12daytour {
  background-image: url("/images/20190814_124934copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.a12daytour {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

header {
    background-color: #007a00;
    color: white;
    padding: 20px;
    text-align: center;
}

.a12daytour .itinerary-day {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a12daytour h1, h2, h3 {
    color: #004d99;
}

.a12daytour ul {
    padding-left: 20px;
}

@media (max-width: 768px) {
  .section12daytour {
    background-image: url("/images/kitulgala.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .a12daytour {
    font-family: 'Montserrat', sans-serif;
    max-width: auto;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
  }
}

/* 10 day tour */

.section10daytour {
  background-image: url("/images/contactpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.a10daytour {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

header {
    background-color: #007a00;
    color: white;
    padding: 20px;
    text-align: center;
}

.a10daytour .itinerary-day {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a10daytour h1, h2, h3 {
    color: #004d99;
}

.a10daytour ul {
    padding-left: 20px;
}

@media (max-width: 768px) {
  .section10daytour {
    background-image: url("/images/10day-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .a10daytour {
    font-family: 'Montserrat', sans-serif;
    max-width: auto;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
  }
}

/* 14 day tour */

.section14daytour {
  background-image: url("/images/20171216_115718copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* Center the image in the section */
  font-family: 'Montserrat', sans-serif;
  height: 80%;
}

.a14daytour {
  font-family: 'Montserrat', sans-serif;
  max-width: auto;
  margin: 20px 9rem;
  background: #fff;
  padding: 20px;
}

header {
    background-color: #007a00;
    color: white;
    padding: 20px;
    text-align: center;
}

.a14daytour .itinerary-day {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a14daytour h1, h2, h3 {
    color: #004d99;
}

.a14daytour ul {
    padding-left: 20px;
}

@media (max-width: 768px) {
  .section14daytour {
    background-image: url("/images/pasikudah.jpg");
    background-repeat: no-repeat;
    background-size: cover;/* Center the image in the section */
    font-family: 'Montserrat', sans-serif;
    height: 80%;
  }

  .a14daytour {
    font-family: 'Montserrat', sans-serif;
    max-width: auto;
    margin: 20px 0;
    background: #fff;
    padding: 20px;
  }
}

/* mobile responsive for index.html */

/* Hamburger icon (hidden on desktop) */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* Mobile styling */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
  }

  /* Show nav-links when .active is added */
  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }
  .logo img {
    width: 70px;
    height: 70px;
  }
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 768px) {
  .cover-page h1 {
      font-size: 32px; /* Smaller font size for mobile */
      padding: 0 20px; /* Add some padding for better readability */
      text-align: center; /* Center text alignment */
  }

  .cover-page .hometext {
    font-size: 40px;
    font-weight: 500;
    padding: 0;
   }
  
  .sectionhome {
      background-size: cover; /* Ensure background still covers */
  }
}

@media (max-width: 550px) {
  .cover-page .hometext {
      font-size: 32px; /* Smaller font size for very small screens */
  }
}

/* Media Query for Title Box on Mobile Devices */
@media (max-width: 768px) {
  .titlehome {
      text-align: center;
      font-size: 40px; /* Smaller font size for tablet screens */
      padding: 5px 10px; /* Add padding for spacing */
  }
}

@media (max-width: 550px) {
  .titlehome {
    text-align: center;
      font-size: 24px; /* Further reduce font size for mobile */
      padding: 5px 5px; /* Reduce padding for smaller screens */
  }
}

/* container bio */
@media (max-width: 768px) {
  .containerbio {
    display: grid;
    height: auto;
    margin: 0;
  }

  .containerbio .left-content,
  .containerbio .right-image {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
}

/* section 2 */
@media (max-width: 768px) {
  .section02 .title-box .title{
    text-align: center;
      font-size: 30px; /* Smaller font size for tablet screens */
      padding: 5px 10px;
  }

  .section02 {
    display: block;
    height: auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  .customize-plan-para {
    width: 100%;
    text-align: center;
  }

}

/* popular destinations */
@media (max-width: 768px) {

  * {
    margin: 0;
  }
  .sectionpopulardestinations .title-box .title {
    text-align: center;
      font-size: 50px; /* Smaller font size for tablet screens */
      padding: 5px 10px;
  }

  .cards-container-destination {
    display: block;/* Margin between cards */
    padding: 0;
    margin: 0;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  .cards-container-destination .card-title {
    font-size: 2rem;  
  } 

  .cards-container-destination .card {
    margin-top: 0;
    margin-bottom: 20px;

  }
  .destinationcolor {
    background: #007a00;
    font-family: 'Montserrat', sans-serif;
    max-width: auto;
    margin-top: 0;
  }

}

@media (max-width: 368px) {
  .sectionpopulardestinations .title-box .title {
    text-align: center;
      font-size: 10px; /* Smaller font size for tablet screens */
      padding: 5px 10px;
  }

  .cards-container-destination {
    display: block;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  
  .cards-container-destination .card-title {
    font-size: 3rem;  
  } 

  .sectionpopulardestinations .card {
    width: 100px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

}

/* popular packages */
@media (max-width: 768px) {
  .sectionpopularpackages h1 {
    text-align: center;
      font-size: 10px; /* Smaller font size for tablet screens */
      padding: 5px 10px;
  }

  .sectionpopularpackages .title-box .title{
    color: #ed9b05;
    font-weight: 800;
    font-size: 30px;
    padding-top: 5vh;
  }
  
}

/* footer */
@media (max-width: 768px) {
  .section07 {
    height: 100vh;
  }
  
  
  /* footer */
  
  /* Footer Styling */
  .footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 50vh; /* Set footer height to 50% of the viewport height */
    padding: 20px;
    color: white;
  }
  
  /* Left section (Nav links and contact info) */
  .footer-left {
    width: 100%; /* Takes up 60% of the footer */
  }
  
  .footer-nav-links {
    list-style: none;
    display: block;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
  }
  
  /* Right section (Sponsor images) */
  .footer-right {
    width: 100%; /* Takes up 30% of the footer */
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .footer-right img {
    width: 150px; /* Adjust the size of sponsor images */
    height: auto;
    margin-left: 15px;
  }
  
  .footer-right img:hover {
    transform: scale(1.1); /* Simple hover effect */
    transition: transform 0.3s ease-in-out;
  }
  
  /* under footer */
  
  .container-under-footer {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  margin-top: 300px;
  }
  
  .container-under-footer .icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  }
  
  
  .all-footer {
  height: 145vh;
  position: relative;
  background: url(/images/footer.jpg); /* Dark background color */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  }
  
  
}

@media (max-width: 450px){
  .all-footer {
    height: 70vh;
    position: relative;
    background: url(/images/footer.jpg); /* Dark background color */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    }

    .container-under-footer {
      display: block;
      align-items: center;
      justify-content: center;
      padding: 10px 30px;
      margin-top: 50px;
      }
}

